.tools{
    width: 600px;
    height: 90px;
    border: 2px solid black;
    border-radius: 5px;
    float: left;
    margin-bottom: 10px;
    margin-left: 150px;
    margin-top: 30px;
    background-color: white;
}

#canva{
    background-color: white;
}

#item:hover{
    background-color: darkgoldenrod;
}

#item_upload:hover{
    background-color: darkgoldenrod;
}

.clear{
    clear: both;
}

#box{
    position: absolute;
}

#body{
    background-image: url(background.jpg);
}




